body {
	font-family: "MuseoSansRounded-300";
	text-align: center;
}

button {
	display:block;
	font-family: "MuseoSansRounded-300";
	font-weight: 700;
	text-align: center;
	background: #62bd00;
	color:white;
	border:0px;
	font-size:16px;
	height:40px;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 0 12px;
	border-radius:3px;

}

:disabled {
	background-color: rgb(214,214,214);
}

#disabled {
	background: white;
	border: 3px solid rgb(214,214,214);
	color: rgb(214,214,214);
	white-space: nowrap
	box-sizing: border-box;
}

.recordingarea {
	background-color: black;
	width: 400px;
	height:40px;
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.container {
	width:400px;
	text-align: center;
	margin-right: auto;
	margin-left:auto;
	font-size: 16px;
	height:219px;
	border-radius: 3px;
}

.circle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: red;
	position: absolute;
	top: 15px;
	left: 640px;
}

#blink {
      animation: blink 1s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

#circ {
	visibility: hidden;
}

#camera {
	margin-left: auto;
	margin-right: auto;
	width:400px;
	align: middle;
	display: block;
	position: relative;
	top: 0px;
	left:0px;
}
